In [1]:
import pandas as pd

In [9]:
runkeeper_file = pd.read_csv('cardioActivities.csv',index_col=0, parse_dates=True)

In [10]:
df_activities = runkeeper_file

In [11]:
df_activities.sample(3)

,Activity Id,Type,Route Name,Distance (km),Duration,Average Pace,Average Speed (km/h),Calories Burned,Climb (m),Average Heart Rate (bpm),Friend's Tagged,Notes,GPX File
Date,,,,,,,,,,,,,
2013-11-30 09:06:01,07f223e5-b7d2-49b6-b6b1-94b816cef1ac,Running,NaN,6.33,34:24,5:26,11.03,451.0,35,NaN,NaN,NaN,2013-11-30-090601.gpx
2013-05-09 09:20:00,17f6a5bb-983c-4207-8cbe-9e3fc66e99fb,Running,NaN,6.53,40:00,6:08,9.79,430.0,0,NaN,NaN,NaN,NaN
2015-07-16 18:32:18,ae62b3b8-f681-49b7-a7bf-464934bc9e33,Running,NaN,9.57,45:28,4:45,12.63,628.0,77,148.0,NaN,NaN,2015-07-16-183218.gpx

In [8]:
df_activities.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 508 entries, 2018-11-11 14:05:12 to 2012-08-22 18:53:54
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Activity Id               508 non-null    object
 1   Type                      508 non-null    object
 2   Route Name                1 non-null      object
 3   Distance (km)             508 non-null    float64
 4   Duration                  508 non-null    object
 5   Average Pace              508 non-null    object
 6   Average Speed (km/h)      508 non-null    float64
 7   Calories Burned           508 non-null    float64
 8   Climb (m)                 508 non-null    int64
 9   Average Heart Rate (bpm)  294 non-null    float64
 10  Friend's Tagged           0 non-null      float64
 11  Notes                     231 non-null    object
 12  GPX File                  504 non-null    object
dtypes: float64(5), int64(1), object(7)
memory usage: 55.6+ KB